<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Wallar Morgulis!</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/ico">
</head>
<body>
<h1>Hello, {{name}}</h1>
	<select id="type">
		<option selected value="item">Item</option>
		<option value="item-type">Item Type</option>
		<option value="player">Player</option>
		<option value="player-class">Player class</option>
		<option value="location">Location</option>
		<option value="location-type">Location Type</option>
		<option value="message">Message</option>
	</select>
	<hr>
	<table id="main">
		
	</table>
<script src="../static/js/script.js"></script>
</body>
</html>